#### Final Project Submission
##### GROUP 4:

Student name: Margaret Thiga,
              Pete Njagi,
              Jeremy Ngugi,
              Esther Omulokoli,
              James Koli,
              Edgar Kiprono

Student pace: DS-full time-Online

Scheduled project review date/time: 1/2/2024

Instructor name:

Blog post URL:

In [ ]:
# importing the relevant libraries
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats as stats
import statsmodels
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
import warnings
from matplotlib.lines import Line2D
warnings.filterwarnings('ignore')

In [ ]:
ds = pd.read_csv("ds_salaries.csv",index_col=0)
ds

In [ ]:
ds.shape

In [ ]:
ds.isnull().sum()

In [ ]:
#check for data type
ds.info()

In [ ]:
#check for different values in the columns and count of unique
print(f"experience-level: {ds['experience_level'].unique()},\
Unique levels: {ds['experience_level'].nunique()}")

print(f"Job type: {ds['employment_type'].unique()},\
Unique job types: {ds['employment_type'].nunique()}")


print(f"Salary Currency: {ds['salary_currency'].unique()},\
Unique currencies: {ds['salary_currency'].nunique()}")


print(f"Country of residence: {ds['employee_residence'].unique()},\
Unique countries: {ds['employee_residence'].nunique()}")

In [ ]:
a = ds.describe().astype(int) 
a

In [ ]:
plt.style.use('ggplot')
fig,ax=plt.subplots(figsize=(10,6))
a['salary_in_usd'].plot.hist(ax = ax, edgecolor='red',color='red')
ax.set_title('Salary distribution')
ax.set_xlabel("Salary")
plt.show();

In [ ]:
#salary_currency
ds.salary_currency.value_counts().plot.bar();

In [ ]:
sns.distplot(ds.salary_in_usd);

In [ ]:
unique_job_titles_df = ds['job_title'].value_counts().reset_index()
unique_job_titles_df.columns = ['Job_Title', 'Count']
unique_job_titles_df.head(11)

In [ ]:
ds_linear = ds[['job_title','salary_in_usd']]
ds_l_sorted = ds_linear.sort_values(by='salary_in_usd', ascending=False).reset_index()

# Display the sorted DataFrame
ds_l_sorted

In [ ]:
fig, ax = plt.subplots(figsize=(10,8))
sns.boxplot(data=ds, y = "salary_in_usd", ax=ax)
ax.set_title('salary')

In [ ]:
salary= ds['salary_in_usd'].describe()
salary

In [ ]:
plt.figure(figsize=(15,8))
sns.heatmap(a.drop('remote_ratio',axis=1).corr(), annot=True, cmap = 'YlGnBu');
plt.show()

In [ ]:
# Define independent variables (X) and dependent variable (y)
X = ds[['salary_in_usd']] 
y = ds['salary']

# Add a constant term to the independent variables
X = sm.add_constant(X)

# Fit the linear regression model
model = sm.OLS(y, X).fit()

# Display the model summary
print(model.summary())

employment type analysis

In [ ]:
# value canout
employment_type_counts = ds['employment_type'].value_counts()
employment_type_counts

In [ ]:
employment_type_summary = ds.groupby('employment_type')['salary_in_usd'].describe()
employment_type_summary

In [ ]:
# avarage salary of employees with diffrent employment types (eg: CT,FT AND PT)
average_salary_by_employment_type = ds.groupby('employment_type')['salary_in_usd'].mean()
average_salary_by_employment_type

In [ ]:
highest_salary_by_employment_type = ds.groupby('employment_type')['salary_in_usd'].max()
highest_salary_by_employment_type

In [ ]:
lowest_salary_by_employment_type = ds.groupby('employment_type')['salary_in_usd'].min()
lowest_salary_by_employment_type

histogram: histograms to visualize the distribution of salaries within each employment type

In [ ]:
full_time_data = ds[ds['employment_type'] == 'FT']['salary_in_usd']
contract_data = ds[ds['employment_type'] == 'CT']['salary_in_usd']
part_time_data = ds[ds['employment_type'] == 'PT']['salary_in_usd']
free_lancer_data =ds[ds['employment_type'] == 'FL']['salary_in_usd']

fig, axes = plt.subplots(nrows=3, ncols=1, figsize=(10, 12), sharex=True, sharey=True)

sns.histplot(full_time_data, bins=20, kde=True, color='blue', ax=axes[0])
axes[0].set_title('Full-Time Employees')

sns.histplot(contract_data, bins=20, kde=True, color='green', ax=axes[1])
axes[1].set_title('Contract Employees')

sns.histplot(part_time_data, bins=20, kde=True, color='orange', ax=axes[2])
axes[2].set_title('Part-Time Employees')

plt.xlabel('Salary in USD')
plt.ylabel('Frequency')
plt.suptitle('Distribution of Salaries by Employment Type')

plt.show()

box plot of salary distributio by employment type

In [ ]:
# plotting a distribution chart by employment type
plt.figure(figsize=(10, 6))
sns.boxplot(x='employment_type', y='salary_in_usd', data=ds)
plt.title('Salary Distribution by Employment Type')
plt.show()

bar chat of avg salary distribution y employment type

In [ ]:
# bar graph on average salary by distribution
plt.figure(figsize=(10, 6))
sns.barplot(x='employment_type', y='salary_in_usd', data=ds, estimator=lambda x: sum(x) / len(x))
plt.title('Average Salary by Employment Type')
plt.show()

In [ ]:
#pie chat for avg salary distribution
grouped_data = ds.groupby('employment_type')['salary_in_usd'].mean()
plt.figure(figsize=(10, 10))
colors = ['skyblue', 'lightgreen', 'lightcoral', 'lightyellow']

plt.pie(grouped_data, labels=grouped_data.index, autopct='%1.1f%%', startangle=90, colors=colors)
plt.title('Distribution of Salaries by Employment Type')

plt.show()

T test on employment type

Null Hypothesis (H0): There is no significant difference in salary expectations between full-time and part-time employees.

Alternative Hypothesis (H1): There is a significant difference in salary expectations between full-time and part-time employees.

In [ ]:
#T test
from scipy.stats import ttest_ind
p_value= 0.05
full_time_salary = ds[ds['employment_type'] == 'FT']['salary_in_usd']
part_time_salary = ds[ds['employment_type'] == 'PT']['salary_in_usd']

t_statistic, p_value = ttest_ind(full_time_salary, part_time_salary)

print(f"T-Test Results - p-value: {p_value:.4f}")

if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant difference in salary expectations.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in salary expectations.")

In [ ]:
p_value= 0.05
full_time_salary = ds[ds['employment_type'] == 'FT']['salary_in_usd']
part_time_salary = ds[ds['employment_type'] == 'FL']['salary_in_usd']

t_statistic, p_value = ttest_ind(full_time_salary, part_time_salary)

print(f"T-Test Results - p-value: {p_value:.4f}")

if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant difference in salary expectations.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in salary expectations.")

In [ ]:
p_value= 0.05
full_time_salary = ds[ds['employment_type'] == 'FT']['salary_in_usd']
part_time_salary = ds[ds['employment_type'] == 'CT']['salary_in_usd']

t_statistic, p_value = ttest_ind(full_time_salary, part_time_salary)

print(f"T-Test Results - p-value: {p_value:.4f}")

if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant difference in salary expectations.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in salary expectations.")

ANOVA TEST

In [ ]:
from scipy.stats import f_oneway
p_value=0.05
full_time_salary = ds[ds['employment_type'] == 'FT']['salary_in_usd']
other_employment_type_salary = ds[ds['employment_type'].isin(['CT', 'PT','FL'])]['salary_in_usd']
f_statistic, p_value = f_oneway(full_time_salary, other_employment_type_salary)

f_statistic, p_value = f_oneway(full_time_salary, other_employment_type_salary)

print(f"ANOVA Results - p-value: {p_value:.4f}")

if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant difference in salary expectations between Full-Time and other employment types.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in salary expectations between Full-Time and other employment types.")

cohens d calculation: to determine the effect size

In [ ]:
mean_full_time = np.mean(full_time_salary)
mean_part_time = np.mean(part_time_salary)
std_pooled = np.sqrt((np.var(full_time_salary, ddof=1) + np.var(part_time_salary, ddof=1)) / 2)

cohen_d = (mean_full_time - mean_part_time) / std_pooled
print(f"Cohen's d: {cohen_d:.4f}")

simple linear regression analysis

In [ ]:
ds['is_full_time'] = (ds['employment_type'] == 'FT').astype(int)
X = sm.add_constant(ds['is_full_time'])
y = ds['salary_in_usd']
model = sm.OLS(y, X).fit()
print(model.summary())