#### Final Project Submission
##### GROUP 4:

Student name: Margaret Thiga,
              Pete Njagi,
              Jeremy Ngugi,
              Esther Omulokoli,
              James Koli,
              Edgar Kiprono

Student pace: DS-full time-Online

Scheduled project review date/time: 1/2/2024

Instructor name:

Blog post URL:

In [ ]:
# importing the relevant libraries
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats as stats
import statsmodels
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
import warnings
from matplotlib.lines import Line2D
warnings.filterwarnings('ignore')

In [ ]:
ds = pd.read_csv("ds_salaries.csv",index_col=0)
ds

In [ ]:
ds.shape

In [ ]:
ds.isnull().sum()

In [ ]:
#check for data type
ds.info()

In [ ]:
#check for different values in the columns and count of unique
print(f"experience-level: {ds['experience_level'].unique()},\
Unique levels: {ds['experience_level'].nunique()}")

print(f"Job type: {ds['employment_type'].unique()},\
Unique job types: {ds['employment_type'].nunique()}")


print(f"Salary Currency: {ds['salary_currency'].unique()},\
Unique currencies: {ds['salary_currency'].nunique()}")


print(f"Country of residence: {ds['employee_residence'].unique()},\
Unique countries: {ds['employee_residence'].nunique()}")

In [ ]:
a = ds.describe().astype(int) 
a

In [ ]:
plt.style.use('ggplot')
fig,ax=plt.subplots(figsize=(10,6))
a['salary_in_usd'].plot.hist(ax = ax, edgecolor='red',color='red')
ax.set_title('Salary distribution')
ax.set_xlabel("Salary")
plt.show();

In [ ]:
#salary_currency
ds.salary_currency.value_counts().plot.bar();

In [ ]:
sns.distplot(ds.salary_in_usd);

In [ ]:
unique_job_titles_df = ds['job_title'].value_counts().reset_index()
unique_job_titles_df.columns = ['Job_Title', 'Count']
unique_job_titles_df.head(11)

In [ ]:
ds_linear = ds[['job_title','salary_in_usd']]
ds_l_sorted = ds_linear.sort_values(by='salary_in_usd', ascending=False).reset_index()

# Display the sorted DataFrame
ds_l_sorted

In [ ]:
fig, ax = plt.subplots(figsize=(10,8))
sns.boxplot(data=ds, y = "salary_in_usd", ax=ax)
ax.set_title('salary')

In [ ]:
salary= ds['salary_in_usd'].describe()
salary

In [ ]:
plt.figure(figsize=(15,8))
sns.heatmap(a.drop('remote_ratio',axis=1).corr(), annot=True, cmap = 'YlGnBu');
plt.show()

In [ ]:
# Define independent variables (X) and dependent variable (y)
X = ds[['salary_in_usd']] 
y = ds['salary']

# Add a constant term to the independent variables
X = sm.add_constant(X)

# Fit the linear regression model
model = sm.OLS(y, X).fit()

# Display the model summary
print(model.summary())

employment type analysis

In [29]:
# value canout
employment_type_counts = ds['employment_type'].value_counts()
employment_type_counts

employment_type
FT    588
PT     10
CT      5
FL      4
Name: count, dtype: int64

In [ ]:
employment_type_summary = ds.groupby('employment_type')['salary_in_usd'].describe()
employment_type_summary

In [ ]:
# avarage salary of employees with diffrent employment types (eg: CT,FT AND PT)
average_salary_by_employment_type = ds.groupby('employment_type')['salary_in_usd'].mean()
average_salary_by_employment_type

In [ ]:
highest_salary_by_employment_type = ds.groupby('employment_type')['salary_in_usd'].max()
highest_salary_by_employment_type

In [ ]:
lowest_salary_by_employment_type = ds.groupby('employment_type')['salary_in_usd'].min()
lowest_salary_by_employment_type